<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Ecommerce Automation Suite" parallel="tests" thread-count="3">
    <listeners>
        <listener class-name="com.ecommerce.listeners.AllureTestListener"/>
    </listeners>
    <test name="Chrome Tests">
        <parameter name="browser" value="chrome"/>
        <packages>
            <package name="com.ecommerce.tests"/>
        </packages>
    </test>
    <test name="Firefox Tests">
        <parameter name="browser" value="firefox"/>
        <packages>
            <package name="com.ecommerce.tests"/>
        </packages>
    </test>
    <test name="Edge Tests">
        <parameter name="browser" value="edge"/>
        <packages>
            <package name="com.ecommerce.tests"/>
        </packages>
    </test>
</suite> 